### numpy project
#### 인서울 현상을 부추기는 문화생활 변화
- 지방과 서울경기간 문화시설 격차 확인

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
from matplotlib.ticker import ScalarFormatter

In [2]:
pd.DataFrame(pd.read_csv('./data/문화시설_20250301221934.csv'))

,소재지(시군구)별(1),시점,계,계.1,공연장,공연장.1,박물관,박물관.1,미술관,미술관.1,...,문화예술진흥시설,문화예술진흥시설.1,전시시설,전시시설.1,국제회의시설,국제회의시설.1,공공도서관,공공도서관.1,전문도서관,전문도서관.1
0,소재지(시군구)별(1),시점,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),...,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
1,전국,2005,217,5265770,28,464098,27,784367,10,212871,...,133,3329942,-,-,-,-,-,-,-,-
2,전국,2006,257,5802980,30,547452,31,892946,15,219408,...,160,3659104,-,-,-,-,-,-,-,-
3,전국,2007,284,7038276,30,409103,32,1025552,15,256800,...,191,4955200,-,-,-,-,-,-,-,-
4,전국,2008,338,9001116,21,344149,33,841919,16,255284,...,257,7112906,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,제주특별자치도,2019,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
332,제주특별자치도,2020,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
333,제주특별자치도,2021,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
334,제주특별자치도,2022,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
335,제주특별자치도,2023,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-

In [3]:
popDF = pd.DataFrame(pd.read_csv('./data/행정구역_시군구_별__성별_인구수_20250302145443.csv'))
popDF.columns = ['region','years','total','male','female']
popDF.head()

  region  years       total        male      female
0     전국   2010  50515666.0  25310385.0  25205281.0
1     전국   2011  50734284.0  25406934.0  25327350.0
2     전국   2012  50948272.0  25504060.0  25444212.0
3     전국   2013  51141463.0  25588336.0  25553127.0
4     전국   2014  51327916.0  25669296.0  25658620.0

In [4]:
facDF = pd.DataFrame(pd.read_csv('./data/박물관_및_미술관수_20250301220225.csv'))

In [5]:
pd.DataFrame(pd.read_csv('./data/17개_시도별_전시_건수_및_평균_전시_기간_시각_융합__20250301220749.csv'))

,행정구역별(1),시점,계,계.1,시각예술,시각예술.1,융합,융합.1,융합.2,융합.3,융합.4,융합.5,융합.6,융합.7
0,행정구역별(1),시점,소계,소계,소계,소계,소계,소계,융합(+공연예술),융합(+공연예술),융합(+문학),융합(+문학),융합(+공연예술문학),융합(+공연예술문학)
1,행정구역별(1),시점,전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일)
2,전국,2015,13207,22.0,13195,21.9,-,-,12,40.8,-,-,-,-
3,전국,2016,13260,24.5,13149,24.4,111,29.2,29,24.1,78,27.4,4,100.5
4,전국,2017,14619,22.6,14218,22.7,401,18.2,74,15.6,318,18.8,9,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,제주특별자치도,2018,296,33.7,293,33.4,3,68.0,0,0.0,3,68.0,0,0.0
142,제주특별자치도,2019,358,39.7,357,39.7,1,24.0,1,24.0,0,0.0,0,0.0
143,제주특별자치도,2020,201,123.3,200,123.8,1,19.0,1,19.0,0,0.0,0,0.0
144,제주특별자치도,2021,283,39.6,283,39.6,0,0.0,0,0.0,0,0.0,0,0.0
145,제주특별자치도,2022,316,34.8,315,34.8,1,5.0,0,0.0,1,5.0,0,0.0

In [6]:
facDF.head(5)
facDF.columns = ['region', 'years', 'museum','museum_pub','museum_pri','museum_col', 'gallery', 'gallery_pu', 'gallery_pr', 'gallery_col']
facDF = facDF.drop(0)

In [7]:
facDF = facDF.replace('-','0')
facDF = facDF.replace('...','0')

In [8]:
facDF[facDF.columns[1:]] = facDF[facDF.columns[1:]].astype(int)
facDF.dtypes

region         object
years           int32
museum          int32
museum_pub      int32
museum_pri      int32
museum_col      int32
gallery         int32
gallery_pu      int32
gallery_pr      int32
gallery_col     int32
dtype: object

In [9]:
facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '총계'), :]

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
2,총계,2010,629,285,240,104,154,52,63,5
3,총계,2011,654,310,249,95,157,45,76,3
4,총계,2012,631,269,268,94,190,60,86,10
5,총계,2013,721,337,289,95,197,48,104,7
6,총계,2014,768,351,321,96,214,58,111,6
7,총계,2015,780,346,338,96,223,52,123,7
8,총계,2016,758,320,337,101,244,73,155,16
9,총계,2017,829,367,294,168,249,69,164,16
10,총계,2018,838,370,366,102,253,71,165,17
11,총계,2019,819,371,344,104,262,72,176,14
12,총계,2020,892,425,360,107,274,79,181,14
13,총계,2021,885,421,355,109,280,80,186,14

In [10]:
seoul_facDF = facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '서울특별시'), :]

In [11]:
seoul_facDF

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
15,서울특별시,2010,112,19,63,30,34,0,0,0
16,서울특별시,2011,114,20,64,30,33,11,20,0
17,서울특별시,2012,114,20,64,30,34,0,0,0
18,서울특별시,2013,115,24,66,25,38,0,0,0
19,서울특별시,2014,117,25,67,25,39,0,0,0
20,서울특별시,2015,119,21,72,26,41,0,0,0
21,서울특별시,2016,120,21,73,26,40,5,30,5
22,서울특별시,2017,123,23,73,27,42,4,33,5
23,서울특별시,2018,129,28,73,28,45,7,33,5
24,서울특별시,2019,128,28,72,28,46,7,34,5
25,서울특별시,2020,132,34,70,28,46,7,34,5
26,서울특별시,2021,134,37,69,28,46,7,34,5

In [12]:
# 서울면적 605.2 km ^2
seoul_facDF.insert(2,'mu/km^2',(facDF['museum']/605.).round(1))
seoul_facDF.insert(7,'ga/km^2',(facDF['gallery']/605).round(1))

In [13]:
seoul_facDF.dtypes

region          object
years            int32
mu/km^2        float64
museum           int32
museum_pub       int32
museum_pri       int32
museum_col       int32
ga/km^2        float64
gallery          int32
gallery_pu       int32
gallery_pr       int32
gallery_col      int32
dtype: object

In [14]:
seoul_facDF

,region,years,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
15,서울특별시,2010,0.2,112,19,63,30,0.1,34,0,0,0
16,서울특별시,2011,0.2,114,20,64,30,0.1,33,11,20,0
17,서울특별시,2012,0.2,114,20,64,30,0.1,34,0,0,0
18,서울특별시,2013,0.2,115,24,66,25,0.1,38,0,0,0
19,서울특별시,2014,0.2,117,25,67,25,0.1,39,0,0,0
20,서울특별시,2015,0.2,119,21,72,26,0.1,41,0,0,0
21,서울특별시,2016,0.2,120,21,73,26,0.1,40,5,30,5
22,서울특별시,2017,0.2,123,23,73,27,0.1,42,4,33,5
23,서울특별시,2018,0.2,129,28,73,28,0.1,45,7,33,5
24,서울특별시,2019,0.2,128,28,72,28,0.1,46,7,34,5
25,서울특별시,2020,0.2,132,34,70,28,0.1,46,7,34,5
26,서울특별시,2021,0.2,134,37,69,28,0.1,46,7,34,5

In [ ]:
r_square = {'서울특별시' : 605, '경기도' : 10171, '경상북도': 19030, '대구광역시': 885, '충청북도':7433, '대전광역시':540}

In [145]:
def per_km2(nameDF, name, r_square=r_square):
    nameDF = pd.DataFrame()
    nameDF = facDF.loc[(facDF['region']==name) & (facDF['years']>=2010), :]
    
    nameDF.insert(2,'mu/km^2',(nameDF['museum']/r_square[name]).round(3))
    nameDF.insert(7,'ga/km^2',(nameDF['gallery']/r_square[name]).round(3))
    
    nameDF = nameDF.reset_index(drop=True)
    
    nameDF.insert(2,'mu/10k',0.0)
    nameDF.insert(8,'ga/10k',0.0)
    # print(range(len(nameDF)))
    
    for i in range(len(nameDF)):
        nameDF.loc[i,'mu/10k'] = (nameDF.loc[i, 'museum'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)
        nameDF.loc[i,'ga/10k'] = (nameDF.loc[i, 'gallery'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)
        # print(popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0])
    
    return nameDF

In [146]:
kkdDF = per_km2('kkdDF', '경기도')
kkdDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,경기도,2010,0.078,0.009,92,41,38,13,0.024,0.003,28,9,16,3
1,경기도,2011,0.085,0.010,102,39,52,11,0.023,0.003,27,6,21,0
2,경기도,2012,0.102,0.012,123,46,67,10,0.036,0.004,43,9,30,4
3,경기도,2013,0.107,0.013,131,58,63,10,0.035,0.004,43,11,29,3
4,경기도,2014,0.116,0.014,143,60,72,11,0.036,0.004,44,10,31,3
5,경기도,2015,0.111,0.014,139,56,72,11,0.039,0.005,49,10,36,3
6,경기도,2016,0.105,0.013,133,51,71,11,0.041,0.005,52,10,38,4
7,경기도,2017,0.109,0.014,140,55,10,75,0.042,0.005,54,12,38,4
8,경기도,2018,0.104,0.013,136,51,74,11,0.041,0.005,53,12,36,5
9,경기도,2019,0.091,0.012,120,46,63,11,0.040,0.005,53,11,39,3
10,경기도,2020,0.092,0.012,124,50,63,11,0.041,0.005,55,13,39,3
11,경기도,2021,0.094,0.013,128,54,63,11,0.043,0.006,58,14,41,3

In [148]:
seoDF = per_km2('seoDF', '서울특별시')
seoDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,서울특별시,2010,0.109,0.185,112,19,63,30,0.033,0.056,34,0,0,0
1,서울특별시,2011,0.111,0.188,114,20,64,30,0.032,0.055,33,11,20,0
2,서울특별시,2012,0.112,0.188,114,20,64,30,0.033,0.056,34,0,0,0
3,서울특별시,2013,0.113,0.190,115,24,66,25,0.037,0.063,38,0,0,0
4,서울특별시,2014,0.116,0.193,117,25,67,25,0.039,0.064,39,0,0,0
5,서울특별시,2015,0.119,0.197,119,21,72,26,0.041,0.068,41,0,0,0
6,서울특별시,2016,0.121,0.198,120,21,73,26,0.040,0.066,40,5,30,5
7,서울특별시,2017,0.125,0.203,123,23,73,27,0.043,0.069,42,4,33,5
8,서울특별시,2018,0.132,0.213,129,28,73,28,0.046,0.074,45,7,33,5
9,서울특별시,2019,0.132,0.212,128,28,72,28,0.047,0.076,46,7,34,5
10,서울특별시,2020,0.137,0.218,132,34,70,28,0.048,0.076,46,7,34,5
11,서울특별시,2021,0.141,0.221,134,37,69,28,0.048,0.076,46,7,34,5

In [183]:
def ppc_ratio_m(df):
    m_ratioDF = df[['region',  'years']]
    m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
    m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
    m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)
    return m_ratioDF
    # return df['m_pub'] / df['museum']

def ppc_ratio_g(df):
    g_ratioDF = df[['region',  'years']]
    g_ratioDF.loc[:,'g_pub'] = (df.loc[:,'gallery_pu'] / df.loc[:,'gallery']).round(2)
    g_ratioDF.loc[:,'g_pri'] = (df.loc[:,'gallery_pr'] / df.loc[:,'gallery']).round(2)
    g_ratioDF.loc[:,'g_col'] = (df.loc[:,'gallery_col'] / df.loc[:,'gallery']).round(2)
    return g_ratioDF

In [184]:
print(ppc_ratio_m(kkdDF))

   region  years  m_pub  m_pri  m_col
0     경기도   2010   0.45   0.41   0.14
1     경기도   2011   0.38   0.51   0.11
2     경기도   2012   0.37   0.54   0.08
3     경기도   2013   0.44   0.48   0.08
4     경기도   2014   0.42   0.50   0.08
5     경기도   2015   0.40   0.52   0.08
6     경기도   2016   0.38   0.53   0.08
7     경기도   2017   0.39   0.07   0.54
8     경기도   2018   0.38   0.54   0.08
9     경기도   2019   0.38   0.52   0.09
10    경기도   2020   0.40   0.51   0.09
11    경기도   2021   0.42   0.49   0.09

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)

In [185]:
dgDF = per_km2('dgDF', '대구광역시')
dgDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,대구광역시,2010,0.036,0.010,9,3,3,3,0.008,0.002,2,1,0,1
1,대구광역시,2011,0.052,0.015,13,5,5,3,0.008,0.002,2,1,0,1
2,대구광역시,2012,0.056,0.016,14,6,5,3,0.012,0.003,3,1,0,2
3,대구광역시,2013,0.056,0.016,14,6,5,3,0.012,0.003,3,1,0,2
4,대구광역시,2014,0.052,0.015,13,6,4,3,0.016,0.005,4,2,0,2
5,대구광역시,2015,0.052,0.015,13,6,4,3,0.016,0.005,4,2,0,2
6,대구광역시,2016,0.060,0.017,15,7,5,3,0.016,0.005,4,2,0,2
7,대구광역시,2017,0.061,0.017,15,7,5,3,0.016,0.005,4,2,0,2
8,대구광역시,2018,0.065,0.018,16,8,5,3,0.016,0.005,4,2,0,2
9,대구광역시,2019,0.066,0.018,16,8,5,3,0.016,0.005,4,2,0,2
10,대구광역시,2020,0.070,0.019,17,8,6,3,0.017,0.005,4,2,0,2
11,대구광역시,2021,0.071,0.019,17,8,6,3,0.017,0.005,4,2,0,2

In [186]:
print(ppc_ratio_g(dgDF))

   region  years  g_pub  g_pri  g_col
0   대구광역시   2010   0.50    0.0   0.50
1   대구광역시   2011   0.50    0.0   0.50
2   대구광역시   2012   0.33    0.0   0.67
3   대구광역시   2013   0.33    0.0   0.67
4   대구광역시   2014   0.50    0.0   0.50
5   대구광역시   2015   0.50    0.0   0.50
6   대구광역시   2016   0.50    0.0   0.50
7   대구광역시   2017   0.50    0.0   0.50
8   대구광역시   2018   0.50    0.0   0.50
9   대구광역시   2019   0.50    0.0   0.50
10  대구광역시   2020   0.50    0.0   0.50
11  대구광역시   2021   0.50    0.0   0.50

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_pub'] = (df.loc[:,'gallery_pu'] / df.loc[:,'gallery']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_pri'] = (df.loc[:,'gallery_pr'] / df.loc[:,'gallery']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_col'] = (df.loc[:,'gallery_col'] / df.loc[:,'gallery']).round(2)

In [188]:
print(ppc_ratio_m(dgDF))

   region  years  m_pub  m_pri  m_col
0   대구광역시   2010   0.33   0.33   0.33
1   대구광역시   2011   0.38   0.38   0.23
2   대구광역시   2012   0.43   0.36   0.21
3   대구광역시   2013   0.43   0.36   0.21
4   대구광역시   2014   0.46   0.31   0.23
5   대구광역시   2015   0.46   0.31   0.23
6   대구광역시   2016   0.47   0.33   0.20
7   대구광역시   2017   0.47   0.33   0.20
8   대구광역시   2018   0.50   0.31   0.19
9   대구광역시   2019   0.50   0.31   0.19
10  대구광역시   2020   0.47   0.35   0.18
11  대구광역시   2021   0.47   0.35   0.18

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)

In [190]:
print(ppc_ratio_m(seoDF))
print(ppc_ratio_g(seoDF))

   region  years  m_pub  m_pri  m_col
0   서울특별시   2010   0.17   0.56   0.27
1   서울특별시   2011   0.18   0.56   0.26
2   서울특별시   2012   0.18   0.56   0.26
3   서울특별시   2013   0.21   0.57   0.22
4   서울특별시   2014   0.21   0.57   0.21
5   서울특별시   2015   0.18   0.61   0.22
6   서울특별시   2016   0.18   0.61   0.22
7   서울특별시   2017   0.19   0.59   0.22
8   서울특별시   2018   0.22   0.57   0.22
9   서울특별시   2019   0.22   0.56   0.22
10  서울특별시   2020   0.26   0.53   0.21
11  서울특별시   2021   0.28   0.51   0.21
   region  years  g_pub  g_pri  g_col
0   서울특별시   2010   0.00   0.00   0.00
1   서울특별시   2011   0.33   0.61   0.00
2   서울특별시   2012   0.00   0.00   0.00
3   서울특별시   2013   0.00   0.00   0.00
4   서울특별시   2014   0.00   0.00   0.00
5   서울특별시   2015   0.00   0.00   0.00
6   서울특별시   2016   0.12   0.75   0.12
7   서울특별시   2017   0.10   0.79   0.12
8   서울특별시   2018   0.16   0.73   0.11
9   서울특별시   2019   0.15   0.74   0.11
10  서울특별시   2020   0.15   0.74   0.11
11  서울특별시   2021   0.15   0.74   0.11

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_pub'] = (df.loc[:,'gallery_pu'] / df.loc[:,'gallery']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_pri'] = (df.loc[:,'gallery_pr'] / df.loc[:,'gallery']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g_ratioDF.loc[:,'g_col'] = (df.loc[:,'gallery_col'] / df.loc[:,'gallery']).round(2)

In [191]:
seoDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,서울특별시,2010,0.109,0.185,112,19,63,30,0.033,0.056,34,0,0,0
1,서울특별시,2011,0.111,0.188,114,20,64,30,0.032,0.055,33,11,20,0
2,서울특별시,2012,0.112,0.188,114,20,64,30,0.033,0.056,34,0,0,0
3,서울특별시,2013,0.113,0.190,115,24,66,25,0.037,0.063,38,0,0,0
4,서울특별시,2014,0.116,0.193,117,25,67,25,0.039,0.064,39,0,0,0
5,서울특별시,2015,0.119,0.197,119,21,72,26,0.041,0.068,41,0,0,0
6,서울특별시,2016,0.121,0.198,120,21,73,26,0.040,0.066,40,5,30,5
7,서울특별시,2017,0.125,0.203,123,23,73,27,0.043,0.069,42,4,33,5
8,서울특별시,2018,0.132,0.213,129,28,73,28,0.046,0.074,45,7,33,5
9,서울특별시,2019,0.132,0.212,128,28,72,28,0.047,0.076,46,7,34,5
10,서울특별시,2020,0.137,0.218,132,34,70,28,0.048,0.076,46,7,34,5
11,서울특별시,2021,0.141,0.221,134,37,69,28,0.048,0.076,46,7,34,5

In [192]:
kkdDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,경기도,2010,0.078,0.009,92,41,38,13,0.024,0.003,28,9,16,3
1,경기도,2011,0.085,0.010,102,39,52,11,0.023,0.003,27,6,21,0
2,경기도,2012,0.102,0.012,123,46,67,10,0.036,0.004,43,9,30,4
3,경기도,2013,0.107,0.013,131,58,63,10,0.035,0.004,43,11,29,3
4,경기도,2014,0.116,0.014,143,60,72,11,0.036,0.004,44,10,31,3
5,경기도,2015,0.111,0.014,139,56,72,11,0.039,0.005,49,10,36,3
6,경기도,2016,0.105,0.013,133,51,71,11,0.041,0.005,52,10,38,4
7,경기도,2017,0.109,0.014,140,55,10,75,0.042,0.005,54,12,38,4
8,경기도,2018,0.104,0.013,136,51,74,11,0.041,0.005,53,12,36,5
9,경기도,2019,0.091,0.012,120,46,63,11,0.040,0.005,53,11,39,3
10,경기도,2020,0.092,0.012,124,50,63,11,0.041,0.005,55,13,39,3
11,경기도,2021,0.094,0.013,128,54,63,11,0.043,0.006,58,14,41,3

In [194]:
gsbdDF = per_km2('gsbd', '경상북도')
gsbdDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,경상북도,2010,0.268,0.004,72,36,22,14,0.022,0.000,6,2,4,0
1,경상북도,2011,0.222,0.003,60,39,10,11,0.000,0.000,0,6,0,0
2,경상북도,2012,0.107,0.002,29,15,6,8,0.026,0.000,7,7,0,0
3,경상북도,2013,0.211,0.003,57,33,14,10,0.026,0.000,7,2,5,0
4,경상북도,2014,0.230,0.003,62,34,16,12,0.033,0.000,9,3,6,0
5,경상북도,2015,0.240,0.003,65,37,17,11,0.041,0.001,11,5,6,0
6,경상북도,2016,0.241,0.003,65,37,17,11,0.041,0.001,11,5,6,0
7,경상북도,2017,0.245,0.003,66,39,16,11,0.041,0.001,11,5,5,1
8,경상북도,2018,0.220,0.003,59,33,16,10,0.030,0.000,8,3,5,0
9,경상북도,2019,0.218,0.003,58,32,16,10,0.041,0.001,11,5,5,1
10,경상북도,2020,0.292,0.004,77,43,23,11,0.042,0.001,11,5,5,1
11,경상북도,2021,0.282,0.004,74,41,23,10,0.042,0.001,11,5,5,1

In [197]:
popDF.loc[(popDF['region']=='경기도') | (popDF['region']=='경상북도'), :]

    region  years       total       male     female
108    경기도   2010  11786622.0  5942454.0  5844168.0
109    경기도   2011  11937415.0  6015357.0  5922058.0
110    경기도   2012  12093299.0  6091035.0  6002264.0
111    경기도   2013  12234630.0  6159193.0  6075437.0
112    경기도   2014  12357830.0  6219813.0  6138017.0
113    경기도   2015  12522606.0  6299812.0  6222794.0
114    경기도   2016  12716780.0  6395453.0  6321327.0
115    경기도   2017  12873895.0  6475323.0  6398572.0
116    경기도   2018  13077153.0  6577501.0  6499652.0
117    경기도   2019  13239666.0  6659995.0  6579671.0
118    경기도   2020  13427014.0  6754469.0  6672545.0
119    경기도   2021  13565450.0  6827298.0  6738152.0
180   경상북도   2010   2689920.0  1351202.0  1338718.0
181   경상북도   2011   2699195.0  1355727.0  1343468.0
182   경상북도   2012   2698353.0  1355294.0  1343059.0
183   경상북도   2013   2699440.0  1355951.0  1343489.0
184   경상북도   2014   2700794.0  1356182.0  1344612.0
185   경상북도   2015   2702826.0  1357306.0  1345520.0
186   경상북도   2016   2700398.0  1356868.0  1343530.0
187   경상북도   2017   2691706.0  1353164.0  1338542.0
188   경상북도   2018   2676831.0  1346689.0  1330142.0
189   경상북도   2019   2665836.0  1342037.0  1323799.0
190   경상북도   2020   2639422.0  1329211.0  1310211.0
191   경상북도   2021   2626609.0  1323661.0  1302948.0

In [199]:
11786622.0/2689920.0

4.381774179157745

In [198]:
13565450.0/2626609.0

5.164624807118227

In [196]:
print(ppc_ratio_m(kkdDF))
print(ppc_ratio_m(gsbdDF))

   region  years  m_pub  m_pri  m_col
0     경기도   2010   0.45   0.41   0.14
1     경기도   2011   0.38   0.51   0.11
2     경기도   2012   0.37   0.54   0.08
3     경기도   2013   0.44   0.48   0.08
4     경기도   2014   0.42   0.50   0.08
5     경기도   2015   0.40   0.52   0.08
6     경기도   2016   0.38   0.53   0.08
7     경기도   2017   0.39   0.07   0.54
8     경기도   2018   0.38   0.54   0.08
9     경기도   2019   0.38   0.52   0.09
10    경기도   2020   0.40   0.51   0.09
11    경기도   2021   0.42   0.49   0.09
   region  years  m_pub  m_pri  m_col
0    경상북도   2010   0.50   0.31   0.19
1    경상북도   2011   0.65   0.17   0.18
2    경상북도   2012   0.52   0.21   0.28
3    경상북도   2013   0.58   0.25   0.18
4    경상북도   2014   0.55   0.26   0.19
5    경상북도   2015   0.57   0.26   0.17
6    경상북도   2016   0.57   0.26   0.17
7    경상북도   2017   0.59   0.24   0.17
8    경상북도   2018   0.56   0.27   0.17
9    경상북도   2019   0.55   0.28   0.17
10   경상북도   2020   0.56   0.30   0.14
11   경상북도   2021   0.55   0.31   0.14

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pub'] = (df.loc[:,'museum_pub'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_pri'] = (df.loc[:,'museum_pri'] / df.loc[:,'museum']).round(2)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\1803664042.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_ratioDF.loc[:,'m_col'] = (df.loc[:,'museum_col'] / df.loc[:,'museum']).round(2)