### numpy project
#### 인서울 현상을 부추기는 문화생활 변화
- 지방과 서울경기간 문화시설 격차 확인

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
from matplotlib.ticker import ScalarFormatter

In [2]:
pd.DataFrame(pd.read_csv('./data/문화시설_20250301221934.csv'))

,소재지(시군구)별(1),시점,계,계.1,공연장,공연장.1,박물관,박물관.1,미술관,미술관.1,...,문화예술진흥시설,문화예술진흥시설.1,전시시설,전시시설.1,국제회의시설,국제회의시설.1,공공도서관,공공도서관.1,전문도서관,전문도서관.1
0,소재지(시군구)별(1),시점,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),...,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
1,전국,2005,217,5265770,28,464098,27,784367,10,212871,...,133,3329942,-,-,-,-,-,-,-,-
2,전국,2006,257,5802980,30,547452,31,892946,15,219408,...,160,3659104,-,-,-,-,-,-,-,-
3,전국,2007,284,7038276,30,409103,32,1025552,15,256800,...,191,4955200,-,-,-,-,-,-,-,-
4,전국,2008,338,9001116,21,344149,33,841919,16,255284,...,257,7112906,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,제주특별자치도,2019,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
332,제주특별자치도,2020,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
333,제주특별자치도,2021,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
334,제주특별자치도,2022,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
335,제주특별자치도,2023,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-

In [3]:
popDF = pd.DataFrame(pd.read_csv('./data/행정구역_시군구_별__성별_인구수_20250302145443.csv'))
popDF.columns = ['region','years','total','male','female']
popDF.head()

  region  years       total        male      female
0     전국   2010  50515666.0  25310385.0  25205281.0
1     전국   2011  50734284.0  25406934.0  25327350.0
2     전국   2012  50948272.0  25504060.0  25444212.0
3     전국   2013  51141463.0  25588336.0  25553127.0
4     전국   2014  51327916.0  25669296.0  25658620.0

In [4]:
facDF = pd.DataFrame(pd.read_csv('./data/박물관_및_미술관수_20250301220225.csv'))

In [5]:
pd.DataFrame(pd.read_csv('./data/17개_시도별_전시_건수_및_평균_전시_기간_시각_융합__20250301220749.csv'))

,행정구역별(1),시점,계,계.1,시각예술,시각예술.1,융합,융합.1,융합.2,융합.3,융합.4,융합.5,융합.6,융합.7
0,행정구역별(1),시점,소계,소계,소계,소계,소계,소계,융합(+공연예술),융합(+공연예술),융합(+문학),융합(+문학),융합(+공연예술문학),융합(+공연예술문학)
1,행정구역별(1),시점,전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일)
2,전국,2015,13207,22.0,13195,21.9,-,-,12,40.8,-,-,-,-
3,전국,2016,13260,24.5,13149,24.4,111,29.2,29,24.1,78,27.4,4,100.5
4,전국,2017,14619,22.6,14218,22.7,401,18.2,74,15.6,318,18.8,9,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,제주특별자치도,2018,296,33.7,293,33.4,3,68.0,0,0.0,3,68.0,0,0.0
142,제주특별자치도,2019,358,39.7,357,39.7,1,24.0,1,24.0,0,0.0,0,0.0
143,제주특별자치도,2020,201,123.3,200,123.8,1,19.0,1,19.0,0,0.0,0,0.0
144,제주특별자치도,2021,283,39.6,283,39.6,0,0.0,0,0.0,0,0.0,0,0.0
145,제주특별자치도,2022,316,34.8,315,34.8,1,5.0,0,0.0,1,5.0,0,0.0

In [6]:
facDF.head(5)
facDF.columns = ['region', 'years', 'museum','museum_pub','museum_pri','museum_col', 'gallery', 'gallery_pu', 'gallery_pr', 'gallery_col']
facDF = facDF.drop(0)

In [7]:
facDF = facDF.replace('-','0')
facDF = facDF.replace('...','0')

In [8]:
facDF[facDF.columns[1:]] = facDF[facDF.columns[1:]].astype(int)
facDF.dtypes

region         object
years           int32
museum          int32
museum_pub      int32
museum_pri      int32
museum_col      int32
gallery         int32
gallery_pu      int32
gallery_pr      int32
gallery_col     int32
dtype: object

In [9]:
facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '총계'), :]

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
2,총계,2010,629,285,240,104,154,52,63,5
3,총계,2011,654,310,249,95,157,45,76,3
4,총계,2012,631,269,268,94,190,60,86,10
5,총계,2013,721,337,289,95,197,48,104,7
6,총계,2014,768,351,321,96,214,58,111,6
7,총계,2015,780,346,338,96,223,52,123,7
8,총계,2016,758,320,337,101,244,73,155,16
9,총계,2017,829,367,294,168,249,69,164,16
10,총계,2018,838,370,366,102,253,71,165,17
11,총계,2019,819,371,344,104,262,72,176,14
12,총계,2020,892,425,360,107,274,79,181,14
13,총계,2021,885,421,355,109,280,80,186,14

In [10]:
seoul_facDF = facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '서울특별시'), :]

In [11]:
seoul_facDF

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
15,서울특별시,2010,112,19,63,30,34,0,0,0
16,서울특별시,2011,114,20,64,30,33,11,20,0
17,서울특별시,2012,114,20,64,30,34,0,0,0
18,서울특별시,2013,115,24,66,25,38,0,0,0
19,서울특별시,2014,117,25,67,25,39,0,0,0
20,서울특별시,2015,119,21,72,26,41,0,0,0
21,서울특별시,2016,120,21,73,26,40,5,30,5
22,서울특별시,2017,123,23,73,27,42,4,33,5
23,서울특별시,2018,129,28,73,28,45,7,33,5
24,서울특별시,2019,128,28,72,28,46,7,34,5
25,서울특별시,2020,132,34,70,28,46,7,34,5
26,서울특별시,2021,134,37,69,28,46,7,34,5

In [12]:
# 서울면적 605.2 km ^2
seoul_facDF.insert(2,'mu/km^2',(facDF['museum']/605.).round(1))
seoul_facDF.insert(7,'ga/km^2',(facDF['gallery']/605).round(1))

In [13]:
seoul_facDF.dtypes

region          object
years            int32
mu/km^2        float64
museum           int32
museum_pub       int32
museum_pri       int32
museum_col       int32
ga/km^2        float64
gallery          int32
gallery_pu       int32
gallery_pr       int32
gallery_col      int32
dtype: object

In [14]:
seoul_facDF

,region,years,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
15,서울특별시,2010,0.2,112,19,63,30,0.1,34,0,0,0
16,서울특별시,2011,0.2,114,20,64,30,0.1,33,11,20,0
17,서울특별시,2012,0.2,114,20,64,30,0.1,34,0,0,0
18,서울특별시,2013,0.2,115,24,66,25,0.1,38,0,0,0
19,서울특별시,2014,0.2,117,25,67,25,0.1,39,0,0,0
20,서울특별시,2015,0.2,119,21,72,26,0.1,41,0,0,0
21,서울특별시,2016,0.2,120,21,73,26,0.1,40,5,30,5
22,서울특별시,2017,0.2,123,23,73,27,0.1,42,4,33,5
23,서울특별시,2018,0.2,129,28,73,28,0.1,45,7,33,5
24,서울특별시,2019,0.2,128,28,72,28,0.1,46,7,34,5
25,서울특별시,2020,0.2,132,34,70,28,0.1,46,7,34,5
26,서울특별시,2021,0.2,134,37,69,28,0.1,46,7,34,5

In [100]:
r_square = {'서울특별시' : 605, '경기도' : 10171, '경상북도': 19030, '대구광역시': 885}

In [101]:
facDF.loc[(facDF['region']=='경기도') & (facDF['years']>=2010), :]

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
116,경기도,2010,92,41,38,13,28,9,16,3
117,경기도,2011,102,39,52,11,27,6,21,0
118,경기도,2012,123,46,67,10,43,9,30,4
119,경기도,2013,131,58,63,10,43,11,29,3
120,경기도,2014,143,60,72,11,44,10,31,3
121,경기도,2015,139,56,72,11,49,10,36,3
122,경기도,2016,133,51,71,11,52,10,38,4
123,경기도,2017,140,55,10,75,54,12,38,4
124,경기도,2018,136,51,74,11,53,12,36,5
125,경기도,2019,120,46,63,11,53,11,39,3
126,경기도,2020,124,50,63,11,55,13,39,3
127,경기도,2021,128,54,63,11,58,14,41,3

In [139]:
def per_km2(nameDF, name, r_square=r_square):
    nameDF = pd.DataFrame()
    nameDF = facDF.loc[(facDF['region']==name) & (facDF['years']>=2010), :]
    
    nameDF.insert(2,'mu/km^2',(nameDF['museum']/r_square[name]).round(3))
    nameDF.insert(7,'ga/km^2',(nameDF['gallery']/r_square[name]).round(3))
    
    nameDF = nameDF.reset_index(drop=True)
    
    nameDF.insert(2,'mu/10k',0)
    nameDF.insert(8,'ga/10k',0)
    # print(range(len(nameDF)))
    
    for i in range(len(nameDF)):
        nameDF.loc[i,'mu/10k'] = (nameDF.loc[i, 'museum'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)
        nameDF.loc[i,'ga/10k'] = (nameDF.loc[i, 'gallery'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)
        print(popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0])
    
    return nameDF

In [140]:
kkdDF = per_km2('kkdDF', '경기도')
kkdDF

11786622.0
11937415.0
12093299.0
12234630.0
12357830.0
12522606.0
12716780.0
12873895.0
13077153.0
13239666.0
13427014.0
13565450.0

C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\706049583.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.078' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nameDF.loc[i,'mu/10k'] = (nameDF.loc[i, 'museum'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)
C:\Users\kdt\AppData\Local\Temp\ipykernel_30176\706049583.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.024' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  nameDF.loc[i,'ga/10k'] = (nameDF.loc[i, 'gallery'] / popDF.loc[(popDF['region']==name) & (popDF['years']==nameDF.loc[i,'years']), 'total'].values[0]*10**4).round(3)

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,경기도,2010,0.078,0.009,92,41,38,13,0.024,0.003,28,9,16,3
1,경기도,2011,0.085,0.010,102,39,52,11,0.023,0.003,27,6,21,0
2,경기도,2012,0.102,0.012,123,46,67,10,0.036,0.004,43,9,30,4
3,경기도,2013,0.107,0.013,131,58,63,10,0.035,0.004,43,11,29,3
4,경기도,2014,0.116,0.014,143,60,72,11,0.036,0.004,44,10,31,3
5,경기도,2015,0.111,0.014,139,56,72,11,0.039,0.005,49,10,36,3
6,경기도,2016,0.105,0.013,133,51,71,11,0.041,0.005,52,10,38,4
7,경기도,2017,0.109,0.014,140,55,10,75,0.042,0.005,54,12,38,4
8,경기도,2018,0.104,0.013,136,51,74,11,0.041,0.005,53,12,36,5
9,경기도,2019,0.091,0.012,120,46,63,11,0.040,0.005,53,11,39,3
10,경기도,2020,0.092,0.012,124,50,63,11,0.041,0.005,55,13,39,3
11,경기도,2021,0.094,0.013,128,54,63,11,0.043,0.006,58,14,41,3

In [135]:
# kkdDF.loc[115,'mu/10k'] = (popDF['region']=='경기도') and (popDF['years']==kkdDF.loc[115,'years'])

In [136]:
kkdDF

,region,years,mu/10k,mu/km^2,museum,museum_pub,museum_pri,museum_col,ga/10k,ga/km^2,gallery,gallery_pu,gallery_pr,gallery_col
0,경기도,2010,0.078,0.009,92,41,38,13,0.024,0.003,28,9,16,3
1,경기도,2011,0.085,0.010,102,39,52,11,0.023,0.003,27,6,21,0
2,경기도,2012,0.102,0.012,123,46,67,10,0.036,0.004,43,9,30,4
3,경기도,2013,0.107,0.013,131,58,63,10,0.035,0.004,43,11,29,3
4,경기도,2014,0.116,0.014,143,60,72,11,0.036,0.004,44,10,31,3
5,경기도,2015,0.111,0.014,139,56,72,11,0.039,0.005,49,10,36,3
6,경기도,2016,0.105,0.013,133,51,71,11,0.041,0.005,52,10,38,4
7,경기도,2017,0.109,0.014,140,55,10,75,0.042,0.005,54,12,38,4
8,경기도,2018,0.104,0.013,136,51,74,11,0.041,0.005,53,12,36,5
9,경기도,2019,0.091,0.012,120,46,63,11,0.040,0.005,53,11,39,3
10,경기도,2020,0.092,0.012,124,50,63,11,0.041,0.005,55,13,39,3
11,경기도,2021,0.094,0.013,128,54,63,11,0.043,0.006,58,14,41,3