### numpy project
#### 인서울 현상을 부추기는 문화생활 변화
- 지방과 서울경기간 문화시설 격차 확인

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
from matplotlib.ticker import ScalarFormatter

In [ ]:
pd.DataFrame(pd.read_csv('./data/문화시설_20250301221934.csv'))

,소재지(시군구)별(1),시점,계,계.1,공연장,공연장.1,박물관,박물관.1,미술관,미술관.1,...,문화예술진흥시설,문화예술진흥시설.1,전시시설,전시시설.1,국제회의시설,국제회의시설.1,공공도서관,공공도서관.1,전문도서관,전문도서관.1
0,소재지(시군구)별(1),시점,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),...,시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡),시설수 (개),면적 (㎡)
1,전국,2005,217,5265770,28,464098,27,784367,10,212871,...,133,3329942,-,-,-,-,-,-,-,-
2,전국,2006,257,5802980,30,547452,31,892946,15,219408,...,160,3659104,-,-,-,-,-,-,-,-
3,전국,2007,284,7038276,30,409103,32,1025552,15,256800,...,191,4955200,-,-,-,-,-,-,-,-
4,전국,2008,338,9001116,21,344149,33,841919,16,255284,...,257,7112906,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,제주특별자치도,2019,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
332,제주특별자치도,2020,12,2199305,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
333,제주특별자치도,2021,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
334,제주특별자치도,2022,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-
335,제주특별자치도,2023,13,2239094,-,-,-,-,-,-,...,5,1747487,-,-,-,-,-,-,-,-

In [ ]:
facDF = pd.DataFrame(pd.read_csv('./data/박물관_및_미술관수_20250301220225.csv'))

In [ ]:
pd.DataFrame(pd.read_csv('./data/17개_시도별_전시_건수_및_평균_전시_기간_시각_융합__20250301220749.csv'))

,행정구역별(1),시점,계,계.1,시각예술,시각예술.1,융합,융합.1,융합.2,융합.3,융합.4,융합.5,융합.6,융합.7
0,행정구역별(1),시점,소계,소계,소계,소계,소계,소계,융합(+공연예술),융합(+공연예술),융합(+문학),융합(+문학),융합(+공연예술문학),융합(+공연예술문학)
1,행정구역별(1),시점,전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일),전시건수 (건),평균전시기간 (일)
2,전국,2015,13207,22.0,13195,21.9,-,-,12,40.8,-,-,-,-
3,전국,2016,13260,24.5,13149,24.4,111,29.2,29,24.1,78,27.4,4,100.5
4,전국,2017,14619,22.6,14218,22.7,401,18.2,74,15.6,318,18.8,9,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,제주특별자치도,2018,296,33.7,293,33.4,3,68.0,0,0.0,3,68.0,0,0.0
142,제주특별자치도,2019,358,39.7,357,39.7,1,24.0,1,24.0,0,0.0,0,0.0
143,제주특별자치도,2020,201,123.3,200,123.8,1,19.0,1,19.0,0,0.0,0,0.0
144,제주특별자치도,2021,283,39.6,283,39.6,0,0.0,0,0.0,0,0.0,0,0.0
145,제주특별자치도,2022,316,34.8,315,34.8,1,5.0,0,0.0,1,5.0,0,0.0

In [ ]:
facDF.head(5)
facDF.columns = ['region', 'years', 'museum','museum_pub','museum_pri','museum_col', 'gallery', 'gallery_pu', 'gallery_pr', 'gallery_col']
facDF = facDF.drop(0)

In [ ]:
facDF = facDF.replace('-','0')
facDF = facDF.replace('...','0')

In [ ]:
facDF = facDF.copy() 
facDF.loc[:,'years':] = facDF.loc[:,'years':].astype('int')
facDF.dtypes

In [257]:
facDF['years'] = facDF['years'].astype('int')
facDF['museum'] = facDF['museum'].astype('int')
facDF['years'] = facDF['years'].astype('int')
facDF['years'] = facDF['years'].astype('int')
facDF['years'] = facDF['years'].astype('int')
facDF['years'] = facDF['years'].astype('int')
facDF.dtypes

region         object
years           int32
museum          int32
museum_pub     object
museum_pri     object
museum_col     object
gallery        object
gallery_pu     object
gallery_pr     object
gallery_col    object
dtype: object

In [250]:
facDF.iloc[:, 1:] = facDF.iloc[:, 1:].astype(int)
facDF.dtypes

region         object
years           int32
museum         object
museum_pub     object
museum_pri     object
museum_col     object
gallery        object
gallery_pu     object
gallery_pr     object
gallery_col    object
dtype: object

In [251]:
facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '총계'), :]

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
2,총계,2010,629,285,240,104,154,52,63,5
3,총계,2011,654,310,249,95,157,45,76,3
4,총계,2012,631,269,268,94,190,60,86,10
5,총계,2013,721,337,289,95,197,48,104,7
6,총계,2014,768,351,321,96,214,58,111,6
7,총계,2015,780,346,338,96,223,52,123,7
8,총계,2016,758,320,337,101,244,73,155,16
9,총계,2017,829,367,294,168,249,69,164,16
10,총계,2018,838,370,366,102,253,71,165,17
11,총계,2019,819,371,344,104,262,72,176,14
12,총계,2020,892,425,360,107,274,79,181,14
13,총계,2021,885,421,355,109,280,80,186,14

In [252]:
seoul_facDF = facDF.loc[(facDF['years']>= 2010) & (facDF['region']== '서울특별시'), :]

In [253]:
seoul_facDF

,region,years,museum,museum_pub,museum_pri,museum_col,gallery,gallery_pu,gallery_pr,gallery_col
15,서울특별시,2010,112,19,63,30,34,0,0,0
16,서울특별시,2011,114,20,64,30,33,11,20,0
17,서울특별시,2012,114,20,64,30,34,0,0,0
18,서울특별시,2013,115,24,66,25,38,0,0,0
19,서울특별시,2014,117,25,67,25,39,0,0,0
20,서울특별시,2015,119,21,72,26,41,0,0,0
21,서울특별시,2016,120,21,73,26,40,5,30,5
22,서울특별시,2017,123,23,73,27,42,4,33,5
23,서울특별시,2018,129,28,73,28,45,7,33,5
24,서울특별시,2019,128,28,72,28,46,7,34,5
25,서울특별시,2020,132,34,70,28,46,7,34,5
26,서울특별시,2021,134,37,69,28,46,7,34,5

In [254]:
# 서울면적 605.2 km ^2
seoul_facDF.insert(2,'mu/km^2',(facDF['museum']/605.).round(1))
seoul_facDF.insert(7,'ga/km^2',(facDF['gallery']/605).round(1))

In [255]:
seoul_facDF.dtypes

region         object
years           int32
mu/km^2        object
museum         object
museum_pub     object
museum_pri     object
museum_col     object
ga/km^2        object
gallery        object
gallery_pu     object
gallery_pr     object
gallery_col    object
dtype: object