In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [3]:
ecoDF=pd.DataFrame(pd.read_csv('./data/economy_idc_rate.csv'))
ecoDF

,시점,국내총생산(명목 원화표시) (십억원),국내총생산(명목 원화표시) (십억원).1,국내총생산(명목 원화표시) (십억원).2,국내총생산(명목 달러표시) (억달러),국내총생산(명목 달러표시) (억달러).1,국내총생산(명목 달러표시) (억달러).2,국민총소득(명목 원화표시) (십억원),국민총소득(명목 원화표시) (십억원).1,국민총소득(명목 원화표시) (십억원).2,...,1인당 국민총소득(명목 원화표시) (만원).2,1인당 국민총소득(명목 달러표시) (달러),1인당 국민총소득(명목 달러표시) (달러).1,1인당 국민총소득(명목 달러표시) (달러).2,1인당 가계총처분가능소득(명목 원화표시) (만원),1인당 가계총처분가능소득(명목 원화표시) (만원).1,1인당 가계총처분가능소득(명목 원화표시) (만원).2,1인당 가계총처분가능소득(명목 달러표시) (달러),1인당 가계총처분가능소득(명목 달러표시) (달러).1,1인당 가계총처분가능소득(명목 달러표시) (달러).2
0,시점,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,...,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
1,1953,47.7,NaN,NaN,13.5,NaN,NaN,48.3,NaN,NaN,...,NaN,66.5,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
2,1954,66.4,18.6,39.0,14.6,1.1,8.0,67.0,18.7,38.8,...,33.3,69.7,3.2,4.8,0.0,NaN,NaN,0.0,NaN,NaN
3,1955,114.5,48.1,72.4,13.9,-0.6,-4.3,115.9,48.9,72.9,...,65.6,65.0,-4.6,-6.6,0.0,NaN,NaN,0.0,NaN,NaN
4,1956,151.9,37.4,32.7,14.5,0.6,4.3,153.4,37.5,32.3,...,30.2,65.7,0.7,1.0,0.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2020,2058466.5,17872.2,0.9,17443.9,-62.2,-0.4,2075410.3,18206.2,0.9,...,0.7,33928.9,-164.8,-0.5,2280.0,74.1,3.4,19321.5,397.0,2.1
69,2021,2221912.9,163446.4,7.9,19415.2,1971.3,11.3,2245326.5,169916.2,8.2,...,8.3,37898.3,3969.4,11.7,2364.4,84.4,3.7,20660.3,1338.8,6.9
70,2022,2323781.5,101868.6,4.6,17986.6,-1428.6,-7.4,2351837.0,106510.5,4.7,...,4.9,35229.1,-2669.2,-7.0,2494.5,130.1,5.5,19307.6,-1352.7,-6.5
71,2023,2401189.4,77407.9,3.3,18394.1,407.5,2.3,2443318.1,91481.1,3.9,...,3.8,36194.0,964.9,2.7,2545.3,50.8,2.0,19497.9,190.3,1.0
72,2024,0.0,-2401189.4,-100.0,0.0,-18394.1,-100.0,0.0,-2443318.1,-100.0,...,-100.0,0.0,-36194.0,-100.0,0.0,-2545.3,-100.0,0.0,-19497.9,-100.0

In [4]:
ecoDF = ecoDF.iloc[:,[0,3]]

In [5]:
ecoDF.columns = ecoDF.iloc[0,:]

In [6]:
ecoDF = ecoDF.drop(0)

In [7]:
ecoDF = ecoDF.drop([1,72])

In [8]:
ecoDF.columns = ['years', 'gdp_rate']

In [9]:
# ecoDF.to_csv('./data/economy_idc_rate_R.csv')

In [12]:
ecoDF=pd.DataFrame(pd.read_csv('./data/지출목적별_소비자물가지수_품목포함__2020100__20250216182814.csv'))
ecoDF.columns = ['시도별','years','total','edu']

In [14]:
ecoDF.drop(columns='시도별')

    years    total      edu
0    1965    2.611        -
1    1966    2.905        -
2    1967    3.221        -
3    1968    3.568        -
4    1969    4.010        -
5    1970    4.650        -
6    1971    5.278        -
7    1972    5.895        -
8    1973    6.085        -
9    1974    7.564        -
10   1975    9.473        -
11   1976   10.925        -
12   1977   12.029        -
13   1978   13.768        -
14   1979   16.290        -
15   1980   20.965        -
16   1981   25.442        -
17   1982   27.271        -
18   1983   28.204        -
19   1984   28.845        -
20   1985   29.555   17.446
21   1986   30.368   18.220
22   1987   31.293   19.265
23   1988   33.530   21.081
24   1989   35.441   22.991
25   1990   38.480   26.028
26   1991   42.071   28.750
27   1992   44.685   31.825
28   1993   46.831   35.123
29   1994   49.765   38.461
30   1995   51.995   43.581
31   1996   54.555   48.487
32   1997   56.977   51.973
33   1998   61.258   53.862
34   1999   61.756   54.563
35   2000   63.151   57.321
36   2001   65.719   59.928
37   2002   67.534   63.282
38   2003   69.908   67.022
39   2004   72.418   70.737
40   2005   74.413   73.717
41   2006   76.081   77.280
42   2007   78.010   81.900
43   2008   81.656   86.373
44   2009   83.906   88.535
45   2010   86.373   90.539
46   2011   89.850   92.101
47   2012   91.815   93.406
48   2013   93.010   94.504
49   2014   94.196   95.893
50   2015   94.861   97.540
51   2016   95.783   99.135
52   2017   97.645  100.272
53   2018   99.086  101.645
54   2019   99.466  102.178
55   2020  100.000   100.00
56   2021  102.500   100.87
57   2022  107.720   102.23
58   2023  111.590   104.23
59   2024  114.180   106.01